@tailwind base;
@tailwind components;
@tailwind utilities;

.cornerRadiis {
  height: 15px;
  width: 24px;
  position: absolute;
  top: 54px;
  left: 72px;
  border-top-right-radius: 100%;
  border-top: 2px solid #353444;
  box-shadow: 3px -3px 0px 2px #14172b;
}

.cornerRadiis2 {
  height: 15px;
  width: 24px;
  position: absolute;
  top: 54px;
  left: 189px;
  border-top-left-radius: 100%;
  border-top: 2px solid #353444;
  box-shadow: -3px -3px 0px 2px #14172b;
}